<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "gpc_code-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :code %>
  <%= text_input f, :code %>
  <%= error_tag f, :code %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :standard %>
  <%= text_input f, :standard %>
  <%= error_tag f, :standard %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
